beepboop==0.1.1
docutils==0.12
lockfile==0.12.2
python-daemon==2.1.1
PyYAML==3.11
requests==2.9.1
six==1.10.0
slackclient==1.0.0
slacker==0.9.9
websocket-client==0.35.0
beautifulsoup4==4.5.0
click==6.6
Flask==0.11.1
get==0.0.11
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
multiprocessing==2.6.2.1
post==0.0.8
public==0.0.34
query-string==0.0.8
request==0.0.8
requests==2.10.0
Werkzeug==0.11.10
wikipedia==1.4.0
gunicorn==19.6.0
